
#brand {
    margin-left: 10px;
}

nav {
    display: flex;
    background-color: rgb(1, 2, 2);
    color: white;
    justify-content: space-between;
}

#nav-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-right: 10px;
} 

.menu-item {
    display: flex;
    padding: 5px;
}

a:link {
    color: white;
  }
  a:visited{
    color: white;
  }
  a:hover{
    color:rgb(160, 158, 156);
  }

#about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px;
    background-color: rgb(192, 189, 189);
    
}

section {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about_image {
    display: flex;
    width: 300px;
    height: 35%;
    padding-bottom: 22px;
}

.about-paragraph {
    max-width: 750px;
}

#projects {
    display: flex;
    flex-flow: column nowrap;
    padding: 2em;
    background-color: rgb(76, 156, 202);
}

#project {
    display: flex;
    flex-flow: row wrap;
}

#sample_work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_image {
    width: 205px;
    height: 200px;
}

.project-column {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#contact_page {
    display: flex;
    align-items: center;
}

#contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    background-color: rgb(226, 226, 226);
}


#contact-paragraph {
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}

.fa-free-code-camp {
    background: #006400;
    color: white;
}

.fa-github {
    background: #000000;
    color: white;
}


